# SQL Examples with the Chinook Database

This page demonstrates my capabilities to:

1. Formulate questions a business user might wish to ask with respect to their company database in clear English
2. Translate those English questions into SQL (Structured Query Language)
3. Implement the SQL queries in a Python project context
4. Write clean, well-documented runnable code
5. Provide meaningful analyses and recommendations based on query results

The business questions and their related SQL queries on this page are presented in increasing order of complexity.

The [Chinook database](https://github.com/lerocha/chinook-database) upon which these queries are based is a <abbr title="Free and Open-Source Software">FOSS</abbr> project designed specifically for demos such as this one. Although it can be freely downloaded in many formats (MySQL, PostgreSQL, SQL Server, etc.), for this demo I've used the SQLite version of the DB because it is self-contained and doesn't require the consumers of this demo to download or install any additional drivers or packages to use it. SQLite is supported "out of the box" by Python.

## Connecting to the Database

The first step in making SQL queries from any program is to establish a connection to the database. Generally, this requires 6 key pieces of information:

1. **Driver**: specifies the type of database, i.e how the program should communicate with it, e.g. MySQL, SQlite, etc.
2. **Hostname**: generally a URL to the server where the DB is hosted
3. **Port Number**: appended to the URL, each type of database has a standard port number, but sometimes these are changed when there are multiple instances on the same server (e.g. dev, QA, staging, prod, etc.), or for security to make it harder for malicious actors to make connections
4. **Username**: of the database user who will be connecting to the database server
5. **Password**: for the user
6. **Database Name**: since a database server can have multiple databases on it simultaneously, we must specify which database we want to connect to. The user must have permissions to access this datbase.

Using SQLite makes this simpler, since it doesn't require using a standalone server for hosting--the database is just a single file. Furthermore, each file has only a single database in it, so there's no need to specify the database name. If there are no user-based restrictions in place, it also does not require a username/password.

As such, the code to connect to the database looks like this. This code will be used in all of the following examples:

In [ ]:
'''Connecting to the Chinook database'''

# import the appropriate driver
import sqlite3

# create a connection to the database
db = sqlite3.connect('chinook.sqlite')

# the "cursor" keeps track of our location in the DB
# and is the object used to actually execute queries
cur = db.cursor()

# ...code to implement and run SQL queries

# finally, close the DB connection
db.close()


## Who are my customers?

This may be the simplest type of question a business user might ask.

In [1]:
'''Get a list of customers'''

import sqlite3
db = sqlite3.connect('chinook.sqlite')
cur = db.cursor()

# write our query; SQL is NOT case-sensitive, but it is
# customary for SQL keywords to be in ALL CAPS
sql = 'SELECT FirstName, LastName FROM customer'

# execute the query and capture the result
res = cur.execute(sql)

# loop through the result and print it out
for row in res:
  print(f"{row[0]} {row[1]}")

db.close()

Luís Gonçalves
Leonie Köhler
François Tremblay
Bjørn Hansen
František Wichterlová
Helena Holý
Astrid Gruber
Daan Peeters
Kara Nielsen
Eduardo Martins
Alexandre Rocha
Roberto Almeida
Fernanda Ramos
Mark Philips
Jennifer Peterson
Frank Harris
Jack Smith
Michelle Brooks
Tim Goyer
Dan Miller
Kathy Chase
Heather Leacock
John Gordon
Frank Ralston
Victor Stevens
Richard Cunningham
Patrick Gray
Julia Barnett
Robert Brown
Edward Francis
Martha Silk
Aaron Mitchell
Ellie Sullivan
João Fernandes
Madalena Sampaio
Hannah Schneider
Fynn Zimmermann
Niklas Schröder
Camille Bernard
Dominique Lefebvre
Marc Dubois
Wyatt Girard
Isabelle Mercier
Terhi Hämäläinen
Ladislav Kovács
Hugh O'Reilly
Lucas Mancini
Johannes Van der Berg
Stanisław Wójcik
Enrique Muñoz
Joakim Johansson
Emma Jones
Phil Hughes
Steve Murray
Mark Taylor
Diego Gutiérrez
Luis Rojas
Manoj Pareek
Puja Srivastava

As requested, the code above prints out a list the first and last names of ALL of the customers in the database. Let's improve upon that by:

1. **Using Dataframes**<br>The `pandas` library is designed to streamline most data-related operations in Python, e.g. retrieving the results of a SQL query as a "dataframe"
2. **Narrow Results**<br>Let's restrict this to our top 5 customers. In this case, "top" has a contextual, business meaning which must be interpreted in SQL. For this example, "top" means customers who have spent the most money with our company in descencing order.
3. **Beautify Output**<br>Using the `IPython.display` method, we can output the `pandas` dataframe in a pleasing format

## Who are my "top 5" customers?

In [2]:
'''List my top 5 customers by total invoices'''

import sqlite3
import pandas as pd
from IPython.display import display

db = sqlite3.connect('chinook.sqlite')

# get top 5 customers by sum of total invoices
sql = '''
  SELECT FirstName, LastName, Total
  FROM (
    SELECT FirstName, Lastname, SUM(Total) as Total
    FROM customer c, invoice i
    WHERE c.CustomerId = i.CustomerId
    GROUP BY c.CustomerId
  ) ci
  ORDER BY Total DESC
  LIMIT 5
'''

df = pd.read_sql_query(sql, db)

display(df)

db.close()

DatabaseError: Execution failed on sql '
  SELECT top 10 FirstName, LastName, Total
  FROM (
    SELECT FirstName, Lastname, SUM(Total) as Total
    FROM customer c, invoice i
    WHERE c.CustomerId = i.CustomerId
    GROUP BY c.CustomerId
  ) ci
  ORDER BY Total DESC
': near "10": syntax error